@charset "UTF-8";
@font-face {
    font-family: 'Bebas Neue';
    src: url(../fontes/BebasNeue-Regular.otf);
}
@font-face {
    font-family: 'MontSerrat';
    src: url(../fontes/Montserrat-VariableFont_wght.ttf);
}
:root {
    --fontetitulo: 'Bebas Neue', sans-serif;
    --fontetextopadrão: 'MontSerrat', serif;

    --cor1: #ffffff;
    --cor2: #000000;
    --cor3: #b4903de7;
    --cor4: #1a1717d0;
    --cor5: #2274A5;
    --cor6: #dfd4b3;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
header {
    background-color: rgba(0, 0, 0, 0.74); 
    max-width: 100vw;
    font-family: var(--fontetitulo);
    color: var(--cor1);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
header > h1 {
    font-size: 7em;
    margin: 0;
    text-shadow: 2px 2px 2px var(--cor2);
}
section#introdução {
    background-image: url('../imagens/astronautaimg1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    max-width: 100vw;
    padding: 0 0 10px 0;
    box-shadow: 1px 1px 0 var(--cor4);
}
section#introdução > h1 {
    font: 6em var(--fontetitulo);
    color: var(--cor1);
    background-color: var(--cor4);
    max-width: 100vw;
    padding: 30px;
    margin: 0;
    text-shadow: 2px 2px 2px var(--cor2);
    text-align: center;
}
section#introdução > h2 {
    margin: 15px 0;
    padding: 100px 0;
    padding-inline: 5px;
    max-width: 100vw;
    max-height: 100vh;
    font: 3em var(--fontetitulo);
    color: var(--cor3);
    background-color: var(--cor4);
    text-shadow: 2px 2px 2px var(--cor2);
    text-align: center;
}
section#introdução > p {
    font-family: var(--fontetextopadrão);
    color: var(--cor1);
    background-color: var(--cor4);
    padding: 25px;
    text-shadow: 2px 2px 2px var(--cor2);
    line-height: 30px;
}
section#introdução > nav {
    border: 0.2px solid transparent;
    background-color: var(--cor4);
    padding: 8px;
    margin: 3px;   
    font-family: var(--fontetextopadrão);
    display: inline-block;
}
section#introdução > nav:hover {
    border: 0.2px solid var(--cor3);
    background-color: var(--cor2);
    display: inline-block;
    padding: 8px;
    margin: 3px;
}
section#introdução > nav > a {
    font-weight: bolder;
    color: var(--cor3);
    text-shadow: 2px 2px 2px var(--cor2);
    text-decoration: none;
}
section#introdução > nav > a:hover {
    text-decoration: underline;
}
img {
    max-height: 200px;
    max-width: 300px;
}
section#segundapartedosite {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    padding: 5px;
    background-image: url(../imagens/espaço2.jpg);
    box-shadow: 1px 1px 0 var(--cor4);
}
section#segundapartedosite > h1 {
    font: 6em var(--fontetitulo);
    padding-inline: 15px;
    display: inline-block;
    background-color: var(--cor4);
    color: var(--cor1);
}
section#segundapartedosite > #div1 > .titulo4, .titulo5 {
    font: 3.5em var(--fontetitulo);
    color: var(--cor5);
    text-shadow: 1px 1px 1px var(--cor2);
    padding: 5px;
    border: 2px solid var(--cor3);
    background-image: url(../imagens/espaço.jpg);
    background-attachment: fixed;
    text-align: center;
}
section#segundapartedosite > #div2 > .titulo4, .titulo5 {
    font: 3.5em var(--fontetitulo);
    color: var(--cor5);
    text-shadow: 1px 1px 1px var(--cor2);
    padding: 5px;
    border: 2px solid var(--cor3);
    background-image: url(../imagens/espaço.jpg);
    background-attachment: fixed;
    text-align: center;
}
section#segundapartedosite > #div3 > .titulo4, .titulo5 {
    font: 3.5em var(--fontetitulo);
    color: var(--cor5);
    text-shadow: 1px 1px 1px var(--cor2);
    padding: 5px;
    border: 2px solid var(--cor3);
    background-image: url(../imagens/espaço.jpg);
    background-attachment: fixed;
    text-align: center;
}
section#segundapartedosite > #div4 > .titulo4, .titulo5 {
    font: 3.5em var(--fontetitulo);
    color: var(--cor5);
    text-shadow: 1px 1px 1px var(--cor2);
    padding: 5px;
    border: 2px solid var(--cor3);
    background-image: url(../imagens/espaço.jpg);
    background-attachment: fixed;
    text-align: center;
}
section#segundapartedosite > #div1 > .paragrafo {
    font: 1em var(--fontetextopadrão);
    line-height: 30px;
    padding-inline: 10px;
    text-shadow: 2px 2px 2px var(--cor2);
    background-color: var(--cor4);
    color: var(--cor1);
    padding: 30px;
}
section#segundapartedosite > #div2 > .paragrafo {
    font: 1em var(--fontetextopadrão);
    line-height: 30px;
    padding-inline: 10px;
    text-shadow: 2px 2px 2px var(--cor2);
    background-color: var(--cor4);
    color: var(--cor1);
    padding: 30px;
}
section#segundapartedosite > #div3 > .paragrafo {
    font: 1em var(--fontetextopadrão);
    line-height: 30px;
    padding-inline: 10px;
    text-shadow: 2px 2px 2px var(--cor2);
    background-color: var(--cor4);
    color: var(--cor1);
    padding: 30px;
}
section#segundapartedosite > #div4 > .paragrafo {
    font: 1em var(--fontetextopadrão);
    line-height: 30px;
    padding-inline: 10px;
    text-shadow: 2px 2px 2px var(--cor2);
    background-color: var(--cor4);
    color: var(--cor1);
    padding: 30px;
}
