@charset "UTF-8";
@font-face {
    font-family: 'Bebas Neue';
    src: url(../fontes/BebasNeue-Regular.otf);
}
@font-face {
    font-family: 'MontSerrat';
    src: url(../fontes/Montserrat-VariableFont_wght.ttf);
}
:root {
    --fontetitulo: 'Bebas Neue', sans-serif;
    --fontetextopadrão: 'MontSerrat', serif;

    --cor1: #ffffff;
    --cor2: #000000;
    --cor3: #b4903de7;
    --cor4: #1a1717c0;
    --cor5: #2274A5;
}
body {
    margin: auto;
}
header {
    background-color: var(--cor2); 
    width: 100vw;
    height: 30vh;
    font-family: var(--fontetitulo);
    color: var(--cor1);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
header > h1 {
    font-size: 8.5em;
}
section#introdução {
    background-image: url('../imagens/astronautaimg1.jpg');
    background-size: cover;
    background-position: fixed;
    height: 70vh;
    width: 100vw;
    padding: 0;
}
section#introdução > h1 {
    font: 6em var(--fontetitulo);
    color: var(--cor1);
    background-color: var(--cor4);
    width: 80vw;
    padding-left: 20px;
    border: 10px solid var(--cor5);
}
section#introdução > h2 {
    margin: 0;
    position: absolute;
    bottom: 24%;
    width: 80vw;
    font: 2em var(--fontetitulo);
    color: var(--cor3);
    background-color: var(--cor4);
    text-shadow: 2.8px 2.6px 0px var(--cor4);
    padding: 10px 0px 10px 15px;
    border: 4px solid var(--cor3);
}
section#introdução > p {
    font-family: var(--fontetextopadrão);
    color: var(--cor1);
    background-color: var(--cor4);
    padding: 35px;
}
section#introdução > nav {
    background-color: rgba(0, 0, 0, 0.678);
    padding: 10px;
    margin: 8px;
    width: 25vh;    
    position: relative;        
    display: inline;
    font-family: var(--fontetextopadrão);
}
section#introdução > nav > a {
    color: var(--cor3);
    text-shadow: 2px 2px 0px var(--cor2);
}
img {
    max-height: 200px;
}