@charset "UTF-8";

#produtos {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#headset, #mouse, #teclado {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
    box-sizing: border-box;

}

#p1, #p2, #p3 {
    font-size: 15px;
}

input {
    width: 70%;
}

img {
    width: 67%;
    height: auto;
    object-fit: contain;
}

#teclado > img {
    width: 100%;
    height: auto;
    object-fit: contain;
}