@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(241, 241, 241);
}

#headset, #mouse, #teclado {
    padding: 15px;
}

h3 {
    color: rgb(12, 12, 75);
}

p {
    color: rgba(0, 0, 0, 0.712);
}

img {
    background-color: rgb(197, 193, 193);
    display: flex;
    align-items: flex-start;
}

#tituloprinc1 {
    font-size: 1.8em;
    color: rgb(12, 12, 75);
}

#tituloprinc1, #tituloprinc2 {
    text-align: center;
}

#tituloprinc2 {
    color: rgba(82, 81, 81, 0.89);
}