@charset "UTF-8";
body {
    background-image: linear-gradient(to right, #696F7A, #51639E);
}
@font-face {
    font-family: 'Limão';
    src: url(fontes/LEMONMILK-Bold.otf);
}
#principal {
    text-align: center;
    padding: 15px;
    margin: auto;
    background-attachment: fixed;
    background-image: linear-gradient(to right, #515757e8);
    font-family: 'Limão', sans-serif;
    font-size: 45px;
}
.titulo2 {
    text-align: center;
    padding: 5px;
    margin: auto;
    background-attachment: fixed;
    background-image: linear-gradient(to right, #868F8F);
    font-family: 'Limão', sans-serif;
    font-size: 20px;
}
@font-face {
    font-family: 'RebotoMedio';
    src: url(fontes/Roboto-Medium.ttf);
}
.avisoimportante {
    background-image: linear-gradient(to right, #ada5a5);
    padding: 10px;
    margin: auto;
    font-family: 'RebotoMedio', sans-serif;
    text-align: justify;
}
.marcador{
    background-image: linear-gradient(to bottom, #ffe6009c)
}