@charset "UTF-8";
body {
    background-attachment: fixed;
    background-image: linear-gradient(to left, #160C94, #51505C);
    border: 10px solid rgb(0, 0, 0);
    outline: 10px groove rgb(34, 52, 141);
}
@font-face {
    font-family: 'Limão';
    src: url(fontes/LEMONMILK-Bold.otf);
}
#titulo1 {
    font: 400 3em 'Limão', sans-serif;
    text-align: center;
    padding: 15px;
    margin: auto;
    background-image: linear-gradient(to left, #615D78, #AFA6ED);
}
.personagem2 {
    font: 2em 'Limão', sans-serif;
    text-align: center;
    padding: 30px;
    margin: auto;
    background-image: linear-gradient(to right, #483f63, #392e5e);
}
.secao2 {
    font: 1.5em 'Limão', sans-serif;
    text-align: center;
    padding: 16px;
    margin: auto;
    background-image: linear-gradient(to left, #AEA3CC, #787578);
}
@font-face {
    font-family: 'Reboto';
    src: url(fontes/Roboto-Condensed.ttf);
}
.paragrafo2 {
    font: 600 1.5em 'Reboto', serif;
    padding: 16px;
    margin: auto;
    text-align: justify;
}
.paytone-one-regular {
  font-family: "Paytone One", sans-serif;
  font-weight: 400;
  font-style: normal}
.marcador2 {
    font: 900 2em 'Paytone One', sans-serif;
}
.lista2 {
    padding: 40px;
    margin: auto;
}
.efeito2, #retorno2 {
    font: 600 1.5em 'Reboto', serif;
    padding: 16px;
    margin: auto;
    text-align: justify;
    background-image: linear-gradient(to left, #D1C5D1, #7077df);
}
.efeito2:hover {
    color: rgb(17, 15, 15);
}
.efeito2 > #curiosidadeescondida2 {
    display: none;
}
.efeito2:hover > #curiosidadeescondida2 {
    display: block;
    font-weight: 600;
    font-size: 1.5em;
    padding: 16px;
    margin: auto;
    text-align: justify;
    background-image: linear-gradient(to left, #D1C5D1, #7077df);
}
.iniciodomuseu {
    color: rgb(26, 16, 16);
    text-decoration: none;
}
.iniciodomuseu:hover {
    color: #000000;
}
#abreviador2 {
    text-decoration: none;
}
.fundo {
    padding: 16px;
    margin: auto;
    background-image: linear-gradient(to left, #D1C5D1, #7077df);
}