@charset "UTF-8";
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    background-color: rgba(197, 180, 182, 0.932);
    }
h2 {
    color:rgb(15, 2, 63);
    background-color: hsla(24, 92%, 41%, 0.747);
}
mark {
    background-color: #b46363ab;
}
a {
    color: #1e0336;
}
p {
    color: hsl(0, 0%, 0%);
}